WebContent/wsdl/demo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.service.com" xmlns:intf="http://model.service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model.service.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://model.service.com">
   <element name="getService">
    <complexType>
     <sequence>
      <element name="str" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceResponse">
    <complexType>
     <sequence>
      <element name="getServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceObject">
    <complexType>
     <sequence>
      <element name="usrName" type="xsd:string"/>
      <element name="usrPwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceObjectResponse">
    <complexType>
     <sequence>
      <element name="getServiceObjectReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceAgian">
    <complexType>
     <sequence>
      <element name="str" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceAgianResponse">
    <complexType>
     <sequence>
      <element name="getServiceAgianReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getServiceResponse">

      <wsdl:part element="impl:getServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceObjectResponse">

      <wsdl:part element="impl:getServiceObjectResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceAgianResponse">

      <wsdl:part element="impl:getServiceAgianResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceRequest">

      <wsdl:part element="impl:getService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceObjectRequest">

      <wsdl:part element="impl:getServiceObject" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceAgianRequest">

      <wsdl:part element="impl:getServiceAgian" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="demo">

      <wsdl:operation name="getService">

         <wsdl:input message="impl:getServiceRequest" name="getServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServiceResponse" name="getServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceObject">

         <wsdl:input message="impl:getServiceObjectRequest" name="getServiceObjectRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServiceObjectResponse" name="getServiceObjectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceAgian">

         <wsdl:input message="impl:getServiceAgianRequest" name="getServiceAgianRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServiceAgianResponse" name="getServiceAgianResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="demoSoapBinding" type="impl:demo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceObjectRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceObjectResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceAgian">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceAgianRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceAgianResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="demoService">

      <wsdl:port binding="impl:demoSoapBinding" name="demo">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/demo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
